.container {
    display:flex;
    flex-direction: row;
}

.formContainer {
    width: 120%;
    margin-left: 40px;
    padding-right: 40px;
    border-right: solid 1px #e3e3e3;
}

.heading {
    font-size: 20px;
    margin-top: 40px;
}

.cardContainer {
    margin-left: 40px;

}

.card {
    border: #000000 1px solid;
    width: 300px;
    height: 480px;
    text-align: center;
}

.cardTitle {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 12px;
}

.textContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.cardDescription {
    font-size: 12px;
    margin-left: 16px;
    margin-right: 16px;
}

